.navbar {
    position: fixed;
    display: flex;
    height: 6vh;
    width: 100%;
    justify-content: space-around;
    background-color: #252750;
    z-index: 999;
}
.logo img {
    width: 2rem;
}
.nav-items {
    display: flex;
    
}
.navbar li {
    list-style: none;
    /* border: 1px solid red; */
    padding: 0rem 1rem 0rem 1rem;
    font-weight: 600;
    font-style: italic;
}